{% extends 'base.html' %}
{% block content%}
<div class="p-5 text-center bg-body-tertiary rounded-3 my-3 ">
    <h1 class="border-bottom">Info about <span class="text-success" >The BLOG!</span></h1>
    <br />
  <p class="text-success">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tempor nec feugiat nisl pretium fusce. Vitae aliquet nec ullamcorper sit amet. Ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Dictumst vestibulum rhoncus est pellentesque elit. Libero volutpat sed cras ornare. Arcu cursus vitae congue mauris. Aliquam sem fringilla ut morbi tincidunt augue interdum. Risus feugiat in ante metus dictum at tempor commodo. Enim praesent elementum facilisis leo. Id volutpat lacus laoreet non curabitur gravida arcu ac tortor. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Euismod lacinia at quis risus sed vulputate. Orci eu lobortis elementum nibh tellus molestie nunc non blandit.</p>
</div>
{% endblock %}